@media (max-width: 1500px){
     header{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0;
     }
     .title{
          border: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
     }
     .header-logo{
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .logo{
          height: 100%;
          width: 100%;
     }
     .line{
          display: none;
          padding-top: 3rem;
     }
     .navigation{
          border-top: 0.09rem solid white;
          margin-top: 1rem;
     }
     nav a{
          margin: 0rem 3rem 0rem 3rem;
     }

}

@media (max-width: 1200px){
     .navigation{
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

     }
     nav a{
          padding: 1rem;
     }
     .section-picture{
          align-self: flex-end;
          padding: .5rem 0 0 0;
     }
     .section{
          align-items: center;
     }
     .section-text h2{
          margin: 0;
          align-self: center;
          padding-left: 1rem ;
     }
     .section-text p{
          align-self: center;
          margin: 0;
          padding: 0;

          padding: 1rem 1rem 0 1rem;
     }
     .section-second{
          align-items: center;
     }

     .certificates-section,.internship-section{
          justify-content: space-between;
     }
}

@media (max-width:1000px){
     .certificates-section,.internships-section{
          flex-direction: column;
          justify-content: left;
          align-items: left;
          gap: 0;
     }
     .certificate-image-div,.internship-image-div{
          width: 100%;
     }
     .certificate-info,.internship-info{
          padding: 2rem;
     }
     .ci-section,.ii-section{
          border-top: 0.1rem solid rgb(255, 0, 225);
     }
     .certificates,.internships{
          display: flex;
          flex-direction: column;
          row-gap: 2rem;
     }
     .ci-section h1,.ii-section h1{
          margin-bottom: 1rem;
     }

     .skills{
          justify-content: left;
          flex-direction: column;
          align-items: left;
          gap: 0;
     }
     .hard-skills,.soft-skills{
          position: static;
          padding: 2rem;
     }
     .hard-skills::after{
          display: none;
     }

     .skills h3{
          margin-top:0 ;
     }
}

@media (max-width: 900px){
     .section{
          padding-bottom: 0;
     }
     .section-second{
          border-bottom: 0.1rem solid grey;
          margin-bottom: 0.6rem;
     }
     .section-picture{
          display: none;
     }
     .section-second-picture{
          display: none;
     }
     .section-second-text{
          padding-left: 1rem;
          padding-bottom: 1rem;
     }
     .photos{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
     }
     .smallpic{
          width: auto;
          height: auto;
          border-radius: 50%;
     }

@media (max-width: 400px){
     .skillsection{
          padding:0.2rem;
     }
}

@media (max-width: 360px){
     footer{
          flex-direction: column;
          justify-content:center;
          align-items: center;
     }
     .links{
          display: flex;
          flex-direction: column;
     }
}
}    